@page "/queue"
@using DataStructureVisualizer.DataStructures

<h1>Queue Visualizer</h1>

<div>
    <input @bind="value" />
    <button class="btn btn-primary" @onclick="Enqueue">Enqueue</button>
    <button class="btn btn-secondary" @onclick="Dequeue">Dequeue</button>
</div>

<div class="queue-container">
    @foreach (var item in queue)
    {
        <div class="queue-item">@item</div>
    }
</div>

@code {
    private DataStructures.Queue<int> queue = new DataStructures.Queue<int>();
    private int value;

    private void Enqueue()
    {
        queue.Enqueue(value);
    }

    private void Dequeue()
    {
        if (queue.Count > 0)
            queue.Dequeue();
    }
}