@page "/queue"
@using DataStructureVisualizer.DataStructures

<h1>Queue Visualizer</h1>

<div>
    <input @bind="value" />
    <button class="btn btn-primary" @onclick="Enqueue">Enqueue</button>
    <button class="btn btn-secondary" @onclick="Dequeue">Dequeue</button>
</div>

<div class="queue-container">
    @foreach (var item in _queueDesign)
    {
        <div class="queue-item">@item</div>
    }
</div>

@code {
    private DataStructures.QueueDesign<int> _queueDesign = new DataStructures.QueueDesign<int>();
    private int value;

    private void Enqueue()
    {
        _queueDesign.Enqueue(value);
    }

    private void Dequeue()
    {
        if (_queueDesign.Count > 0)
            _queueDesign.Dequeue();
    }
}